{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <!-- Metatags begin -->
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <meta content="{% block meta-description %}{% endblock %}" name="description">
    <!-- Metatags end -->

    <!-- Favicon start -->
    <link rel="shortcut icon"
          href="{% static "img/international-laboratory-logo.png" %}"
          type="image/png"
    >
    <!-- Favicon end -->

    <!-- Bootstrap CSS files begin -->
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
          integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2"
          crossorigin="anonymous"
    >
    <!-- Bootstrap files end -->

    <!-- View CSS files begin -->
    {% block styles %}
    {% endblock %}
    <!-- View CSS files end -->

    <!-- CSS files begin -->
    <link rel="stylesheet"
          href="{% static "css/styles.css" %}"
    >
    <!-- CSS files end -->

    <!-- Title begin -->
    <title>
        Laboratorio Internacional {% block title %}{% endblock %}
    </title>
    <!-- Title end -->

    {% block head %}
    {% endblock %}
</head>

<body>
<div class="container my-5 {% if request.session.user_logged %}pt-5{% endif %}">
    {% if request.session.user_logged %}
        {% include "navbar.html" %}
    {% else %}
        {% include "laboratory_figure.html" %}
    {% endif %}
    {% block content %}
    {% endblock %}
</div>

<!-- JQuery files begin -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
        crossorigin="anonymous"
></script>
<!-- JQuery files end -->

<!-- Popper JS files begin -->
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"
></script>
<!-- Popper JS files end -->

<!-- Bootstrap JS files begin -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"
        integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s"
        crossorigin="anonymous"
></script>
<!-- Bootstrap JS files end -->

<!-- Fontawesome files begin -->
<script src="https://kit.fontawesome.com/2047e1f46b.js"
        crossorigin="anonymous"
></script>
<!-- Fontawesome files end -->

<!-- JS files begin -->
<script>let logout_url = "{% url "logout" %}"</script>
<script src="{% static "js/logout.js" %}"></script>
<script>let notifications_url = "{% url "notificaciones" %}"</script>
<script src="{% static "js/notification.js" %}"></script>
<!-- JS files end -->

<!-- View JS files begin -->
{% block scripts %}
{% endblock %}
<!-- View JS files end -->
</body>