{% load static %}

<div class="row align-items-start">
    <div class="col text-center">
        <figure class="figure">
            <img src="{% static "img/international-laboratory-logo.png" %}"
                 class="figure-img img-fluid rounded w-25"
                 alt="Logo del Laboratorio Internacional"
            >
            <figcaption class="province-font-black figure-caption text-center">
                Laboratorio Internacional
            </figcaption>
        </figure>
    </div>
</div>
