{% extends "base.html" %}
{% load static %}

{% block title %}
    - Resolución ante falla
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col text-center">
            <h2 class="province-font-black">Resolución ante falla</h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <form id="new-activity-form">
                {% csrf_token %}
                <div class="form-row">
                    <div class="form-group col text-right">
                        <button type="button"
                                id="new-activity-submit"
                                class="btn btn-primary-blue province-font-bold">
                            Guardar
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}