{% extends "base.html" %}

{% block styles %}
    {% include "datatables_styles.html" %}
{% endblock %}

{% block title %}
    - Inicio
{% endblock %}

{% block content %}
    {% if "Jefe de proyecto" in user_membership %}
        <div class="row justify-content-end mb-5">
            <div class="col-4">
                <a href="{% url "proyecto" %}"
                   class="btn btn-block btn-secondary-black province-font-bold"
                >
                    Nuevo proyecto
                </a>
            </div>
        </div>
    {% endif %}

    {% if "Jefe de proyecto" in user_membership %}
        <div class="row mb-5">
            <div class="col">
                <h5 class="primary-blue province-font-medium">
                    Mis proyectos como Jefe de Proyecto
                </h5>
                {% if managed_projects %}
                    <table id="managed-projects-table"
                           class="display w-100"
                    >
                        <thead class="d-none">
                        <tr>
                            <th>ID</th>
                            <th>Proyecto</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for project in managed_projects %}
                            <tr>
                                <td class="d-none">
                                    {{ project.id }}
                                </td>
                                <td>
                                    <div class="card my-2">
                                        <div class="card-body">
                                            <div class="row justify-content-center">
                                                <div class="col">
                                                    <p class="card-title m-0 ">
                                                        {{ project.name }}
                                                    </p>
                                                </div>
                                                <div class="col-3 text-center align-self-center">
                                                    {% if project.approved %}
                                                        <span class="btn btn-block badge badge-pill bg-success text-white">
                                                            Proyecto aprobado
                                                        </span>
                                                    {% elif project.approved is False %}
                                                        <span class="btn btn-block badge badge-pill bg-danger text-white">
                                                            Proyecto no aprobado
                                                        </span>
                                                    {% else %}
                                                        <span class="btn btn-block badge badge-pill bg-dark text-white">
                                                            Proyecto en ejecución
                                                        </span>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p>No hay proyectos</p>
                {% endif %}
            </div>
        </div>
    {% endif %}

    {% if "Responsable de protocolo" in user_membership %}
        <div class="row mb-5">
            <div class="col">
                <h5 class="primary-blue province-font-medium">
                    Mis protocolos como Responsable de Protocolo
                </h5>
                {% if responsible_protocols %}
                    <table id="responsible-protocols-table"
                           class="display w-100"
                    >
                        <thead class="d-none">
                        <tr>
                            <th>ID</th>
                            <th>Protocolo</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for protocol_project in responsible_protocols %}
                            <tr>
                                <td class="d-none">
                                    {{ protocol_project.id }}
                                </td>
                                <td>
                                    <div class="card my-2">
                                        <div class="card-body">
                                            <p class="card-title m-0 ">
                                                {{ protocol_project.protocol.name }}
                                            </p>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p>No hay protocolos</p>
                {% endif %}
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block scripts %}
    {% include "datatables_scripts.html" %}
{% endblock %}