{% extends "base.html" %}

{% block styles %}
    {% include "datatables_styles.html" %}
{% endblock %}

{% block title %}
    - Notificaciones
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col text-center">
            <h2 class="province-font-black">Notificaciones</h2>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col">
            <h5 class="primary-blue province-font-medium">
                Notificaciones sin leer
            </h5>
            {% if not_view_notifications %}
                <table id="not-view-notifications-table"
                       class="display w-100"
                >
                    <thead class="d-none">
                    <tr>
                        <th>ID</th>
                        <th>Notificación</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for notification in not_view_notifications %}
                        <tr>
                            <td class="d-none">
                                {{ notification.id }}
                            </td>
                            <td>
                                <div class="card my-2">
                                    <div class="card-body">
                                        <form id="notification-form-{{ notification.id }}">
                                            {% csrf_token %}
                                            <div class="row justify-content-center">
                                                <div class="col">
                                                    <p class="card-title m-0 ">
                                                        {% comment %}{{ notification.message }}{% endcomment %}
                                                        {% with pp=notification.protocol_project %}
                                                            El protocolo
                                                            <span class="province-font-medium">{{ pp.protocol.name }}</span>
                                                            del proyecto
                                                            <span class="province-font-medium">{{ pp.project.name }}</span>
                                                            {% if pp.approved %}
                                                                finalizó
                                                                <span class="province-font-medium">exitosamente</span>
                                                            {% else %}
                                                                ha <span class="province-font-medium">fallado</span>
                                                            {% endif %}
                                                        {% endwith %}
                                                    </p>
                                                </div>
                                                <div class="col-3 text-center align-self-center"
                                                     id="notification-action-{{ notification.id }}"
                                                >
                                                    {% if notification.protocol_project.responsible == request.session.user_logged.user_id %}
                                                        <span class="btn btn-block badge badge-pill bg-success text-white"
                                                              onclick="readNotification({{ notification.id }}, '{% url "notificaciones" %}')"
                                                        >
                                                                Marcar como leída
                                                        </span>
                                                    {% else %}
                                                        <span class="btn btn-block badge badge-pill bg-warning text-white"
                                                              onclick="readNotification({{ notification.id }}, '{% url "resolucion_falla"  protocol_project=notification.protocol_project.id %}')"
                                                        >
                                                            Resolución ante falla
                                                        </span>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>No hay notificaciones</p>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h5 class="primary-blue province-font-medium">
                Notificaciones leídas
            </h5>
            {% if view_notifications %}
                <table id="view-notifications-table"
                       class="display w-100"
                >
                    <thead class="d-none">
                    <tr>
                        <th>ID</th>
                        <th>Notificación</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for notification in view_notifications %}
                        <tr>
                            <td class="d-none">
                                {{ notification.id }}
                            </td>
                            <td>
                                <div class="card my-2">
                                    <div class="card-body">
                                        <div class="row justify-content-center">
                                            <div class="col">
                                                <p class="card-title m-0 ">
                                                    {% comment %}{{ notification.message }}{% endcomment %}
                                                    {% with pp=notification.protocol_project %}
                                                        El protocolo
                                                        <span class="province-font-medium">{{ pp.protocol.name }}</span>
                                                        del proyecto
                                                        <span class="province-font-medium">{{ pp.project.name }}</span>
                                                        {% if pp.approved %}
                                                            finalizó
                                                            <span class="province-font-medium">exitosamente</span>
                                                        {% else %}
                                                            ha <span class="province-font-medium">fallado</span>
                                                        {% endif %}
                                                    {% endwith %}
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>No hay notificaciones</p>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {% include "datatables_scripts.html" %}
{% endblock %}