{% extends "base.html" %}

{% block title %}
    - Detalle del proyecto {{ project.name }}
{% endblock %}

{% block content %}
    <div class="row mb-4">
        <div class="col text-center">
            <h2 class="province-font-black">Detalle del proyecto</h2>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col text-center">
            <h4 class="province-font-bold">{{ project.name }}</h4>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col">
            <div class="row">
                <div class="col">
                    <h5 class="primary-blue province-font-medium">
                        Protocolos del proyecto
                    </h5>
                </div>
            </div>
            {% for protocolproject in project.protocolproject_set.all %}
                <div class="row">
                    <div class="col">
                        <div class="card my-2">
                            <div class="card-body">
                                <div class="row justify-content-center">
                                    <div class="col">
                                        <p class="card-title m-0 ">
                                            {{ protocolproject.protocol.name }}
                                        </p>
                                    </div>
                                    <div class="col-3 text-center align-self-center">
                                        {% for protocol_project_id, data in state_protocols.items %}
                                            {% if protocol_project_id == protocolproject.id %}
                                                {% if data.state %}
                                                    {% if data.state == "Protocolo aprobado" %}
                                                        <span class="btn btn-block badge badge-pill bg-success text-white">Aprobado</span>
                                                    {% elif data.state == "En resolución ante falla" %}
                                                        <a href="{% url "resolucion_falla" protocol_project=protocol_project.id %}">
                                                            <span class="btn btn-block badge badge-pill bg-warning text-white">En resolución ante falla</span>
                                                        </a>
                                                    {% elif data.state == "Protocolo listo para ejecutarse" %}
                                                        <a href="{% url "ejecucion_local" protocol_project=protocol_project.id %}">
                                                            <span class="btn btn-block badge badge-pill bg-primary-blue text-white">Ejecutar</span>
                                                        </a>
                                                    {% elif data.state == "Protocolo en ejecución" %}
                                                        <span class="btn btn-block badge badge-pill bg-primary-blue text-white">En ejecución</span>
                                                    {% elif data.state == "El protocolo se encuentra en preparación" %}
                                                        <span class="btn btn-block badge badge-pill bg-dark text-white">En preparación</span>
                                                    {% elif data.state == "El proyecto se canceló" %}
                                                        <span class="btn btn-block badge badge-pill bg-danger text-white">Proyecto cancelado</span>
                                                    {% elif data.state == "El proyecto finalizó" %}
                                                        <span class="btn btn-block badge badge-pill bg-danger text-white">Proyecto finalizado</span>
                                                    {% endif %}
                                                {% else %}
                                                    <span class="btn btn-block badge badge-pill bg-secondary text-white">No hay información</span>
                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="row mb-5">
        <div class="col">
            <div class="row">
                <div class="col">
                    <h5 class="primary-blue province-font-medium">
                        Estado del proyecto
                    </h5>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="card my-2">
                        <div class="card-body">
                            <div class="row justify-content-center">
                                <div class="col">
                                    <p class="card-title m-0 ">
                                        {% if project.approved %}
                                            <span class="btn btn-block badge badge-pill bg-success text-white">Proyecto aprobado</span>
                                        {% elif project.approved is False %}
                                            <span class="btn btn-block badge badge-pill bg-warning text-white">Proyecto no aprobado</span>
                                        {% else %}
                                            {% if task_running.state %}
                                                {% if task_running.state == "failed" %}
                                                    <span class="btn btn-block badge badge-pill bg-danger text-white">Ejecución fallida</span>
                                                {% else %}
                                                    <span class="btn btn-block badge badge-pill bg-dark text-white">Proyecto en ejecución</span>
                                                {% endif %}
                                            {% else %}
                                                <span class="btn btn-block badge badge-pill bg-secondary text-white">No hay información</span>
                                            {% endif %}
                                        {% endif %}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}