<tr>
    <td class="d-none">
        {{ project.id }}
    </td>
    <td>
        <div class="card my-2">
            <div class="card-body">
                <div class="row justify-content-center">
                    <div class="col">
                        <p class="card-title m-0 ">
                            <a href="{% url "proyecto_buscar" s=project.id %}"
                               class="blue-link"
                            >
                                {{ project.name }}
                            </a>
                        </p>
                    </div>
                    <div class="col-3 text-center align-self-center">
                        {% if project.approved %}
                            <span class="btn-block badge badge-pill bg-success text-white">Proyecto aprobado</span>
                        {% elif project.approved is False %}
                            <span class="btn-block badge badge-pill bg-warning text-white">Proyecto no aprobado</span>
                        {% else %}
                            {% for case_id, data in task_running.items %}
                                {% if case_id == project.case_id %}
                                    {% if data.state %}
                                        {% if data.state == "failed" %}
                                            <span class="btn-block badge badge-pill bg-danger text-white">Ejecución fallida</span>
                                        {% else %}
                                            <span class="btn-block badge badge-pill bg-dark text-white">Proyecto en ejecución</span>
                                        {% endif %}
                                    {% else %}
                                        <span class="btn-block badge badge-pill bg-secondary text-white">No hay información</span>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </td>
</tr>